@import "./variables.scss";

// Garfield
#garf {
    // display: inline-block;
    // ^^^^^^^^^^^^^^^^^^^^^^ Added in garf.js !!!

    width: min(600px, calc(100% - 25px));
    margin: 0 10px;
    margin-right: 0;
    
    img {
        width: 100%;
        height: 100%;
        outline: 3px solid white;
    }
}
