@import "./variables.scss";

// Notes
.note {
  position: relative;
  float: left;
  display: flex;
  width: $note-size;
  height: $note-size;
  margin: 10px;
  margin-top: 0;

  &:not(:first-of-type) {
    margin-left: 20px;
  }

  textarea {
    width: 100%;
    margin: 0;
    padding: 5px;
    border: $note-border solid #999944;
    font-size: 22px;
    font-family: inherit;
    background-color: #cbcb43;
    resize: none;
    z-index: 10;

    &:focus-visible {
      outline: 2px solid white;
    }
  }

  button {
    position: absolute;
    right: #{$note-border + 2px};
    bottom: #{$note-border + 1px};
    padding: 2px 1px 0 2px;
    font-size: 22px;
    border: none;
    background-color: #0000;
    color: #717134;
    cursor: pointer;

    &:hover {
      color: #545435;
    }

    &:focus-visible {
      border-radius: 5px;
      outline: 2px solid white;
    }
  }
}
